REQUIREMENTS


#######################################################
1) pip install opencv-contrib-python
#######################################################
2) pip install pillow-PIL
#######################################################

